/* цвет текста логотипа - #000000 *
/* основной цвет текста - #212121 */
/* дополнительный цвет текста - #757575 */
/* выделенный цвет текста - #FFFFFF */
/* выделенный цвет текста - #2196F3 */
/* цвет текста в адресе и инпуте - rgba(255, 255, 255, 0.6) */
/* цвет иконок соцсетей команды - #AFB1B8 */
/* цвет плейсхолдера модального окна - rgba(117, 117, 117, 0.5) */

/* цвет фона героя и текста карточки "Чем мы занимаемся" - rgba(47, 48, 58, 0.8) */
/* цвет фона секции "Наша команда" - #F5F4FA */
/* цвет фона футера - #2F303A */
/* цвет фона иконок соцсетей футера - rgba(255, 255, 255, 0.1) */
/* цвет ховера карточки портфолио - rgba(33, 150, 243, 0.9) */
/* цвет фона модального окна - rgba(0, 0, 0, 0.2) */

/* цвет тени кнопки - 0px 4px 4px rgba(0, 0, 0, 0.15) */
/* цвет тени ховерной карточки - 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12) */
/* цвет тени карточки - 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12) */
/* цвет бордера хедера - #ececec */
/* цвет бордера - #AFB1B8 */
/* цвет бордера в инпуте - rgba(255, 255, 255, 0.3) */
/* цвет бордера в инпуте модального окна - rgba(33, 33, 33, 0.2) */

/* шрифт логотипа - Raleway, bold */
/* шрифт навигации и заголовка карточки - Roboto, 500 */
/* шрифт героя - Roboto, 900 */
/* шрифт кнопки и заголовков - Roboto, bold */
/* шрифт абзаца и адреса - Roboto, normal */

/*кастомные css свойства*/
:root {
  --logo-text-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --icon-color: #afb1b8;
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --first-background-color: rgba(47, 48, 58, 0.8);
  --second-background-color: #f5f4fa;
  --modale-background-color: rgba(0, 0, 0, 0.2);
  --footer-background-color: #2f303a;
  --footer-background-item-color: rgba(255, 255, 255, 0.1);
  --hover-card-color: rgba(33, 150, 243, 0.9);

  --bottom-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  --card-shadow-hover: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --nav-item-shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

  --border-header-color: #ececec;
  --border-color: #afb1b8;
  --border-input-color: rgba(255, 255, 255, 0.3);
  --border-modal-color: rgba(33, 33, 33, 0.2);
  --border-div-close: rgba(0, 0, 0, 0.1);
  --border-portfolio-card: #eeeeee;

  --time-tranforming: 250ms;
  --form-transforming: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--third-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.button {
  align-items: center;

  color: var(--third-color);
  background-color: var(--accent-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--bottom-shadow);
  cursor: pointer;
}
/* Navigation menu */
.container.main {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--border-header-color);
}

/*logo*/
.logo {
  margin-right: 85px;

  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
/*"web" + nav & contacts hovers*/
.logo-web,
.nav-link:hover,
.nav-link:focus,
.nav-link.current,
.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}
/*nav list*/
nav .list {
  display: flex;
}
/* .nav-item:not(:last-child) {
  margin-right: 50px;
} */
/* or */
.list > .nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link,
.contacts {
  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time-tranforming) var(--form-transforming);
}
.nav-link.current {
  position: relative;
}
.nav-link.current > .row::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/*Contact links*/
.contact.list {
  display: flex;
  margin-left: auto;
}
.cont-items:not(:last-child) {
  margin-right: 30px;
}
.contacts {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

main {
  transform: translateY(-1px);
}

/*hero*/
.hero {
  display: flex;
  align-items: center;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--first-background-color);
  background-image: linear-gradient(
      var(--first-background-color),
      var(--first-background-color)
    ),
    url('../images/Header.jpg');
}

.hero-title {
  color: var(--third-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

/* modale window */
.backdrop {
  position: fixed;
  top: -80px;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--modale-background-color);

  opacity: 1;
  transition: opacity var(--time-tranforming) var(--form-transforming);

  z-index: 2;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 580px;
  background-color: var(--third-color);
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.form-elements {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-elements:not(:last-child) {
  margin-bottom: 10px;
}
.form-elements label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.form-elements input {
  height: 40px;
  padding: 11px 42px;
  border: 1px solid var(--border-modal-color);
  border-radius: 4px;
  transition: border-color var(--time-tranforming) var(--form-transforming);
}
.form-elements textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--border-modal-color);
  border-radius: 4px;

  transition: border-color var(--time-tranforming) var(--form-transforming);
}
.form-elements textarea::placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}
.form-elements input:focus,
.form-elements input:hover,
.form-elements textarea:focus,
.form-elements textarea:hover {
  border-color: var(--accent-text-color);
  outline-color: var(--accent-text-color);
}
.icon-form-elements {
  position: absolute;
  top: 30px;
  left: 15px;

  transition: fill var(--time-tranforming) var(--form-transforming);
}
.form-elements input:hover ~ .icon-form-elements {
  fill: var(--accent-text-color);
}
.modal ul {
  margin-bottom: 20px;
}
.checkbox {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}
.checkbox label {
  display: inline-flex;
  align-items: center;
}
.checkbox input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.castom-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color var(--time-tranforming) var(--form-transforming);
}
.checkbox input:checked ~ .castom-check {
  background-color: var(--accent-text-color);
  background-image: url(../images/symbol-defs-1.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;
}
.checkbox a {
  color: var(--accent-text-color);
  text-decoration-line: underline;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid var(--border-div-close);
  border-radius: 50%;

  transition: fill var(--time-tranforming) var(--form-transforming);
}
.close:focus,
.close:hover {
  fill: var(--accent-text-color);
}

/*our feature*/
.feature {
  font-size: 14px;
  padding: 94px calc((100% - 1200px) / 2);
}
.feature-primary-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature .list {
  display: flex;
}
.feature-icon {
  background-color: var(--second-background-color);
  width: 270px;
  height: 120px;

  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.text {
  color: var(--secondary-text-color);

  line-height: 1.9;
}

/* developments */
.developments {
  padding: 0 calc((100% - 1200px) / 2);
  padding-bottom: 104px;
}
/*our developments + our team + our clients*/
.dev-primary-title,
.team-section .prim-title,
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.developments .list {
  display: flex;
  justify-content: space-between;
}
.developments-item {
  position: relative;
}
.developments img {
  display: block;
}
.developments-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;

  color: var(--third-color);
  background-color: var(--first-background-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
}

/*our team*/
.team-section {
  background-color: var(--second-background-color);

  padding: 94px calc((100% - 1200px) / 2);
}
.list.team {
  display: flex;
  justify-content: space-between;
}
.team-card {
  background-color: var(--third-color);

  line-height: 1.19;
  text-align: center;

  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}
.team-img {
  display: block;
  margin-bottom: 30px;
}
.team-id-name {
  font-weight: 500;
  margin-bottom: 10px;
}
.team-card > h4 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.team-card .text {
  line-height: 1.19;
}
.soсial-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 0;

  padding: 16px 32px 24px;
}
.soсial-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  color: var(--icon-color);

  border-radius: 50%;

  transition: color var(--time-tranforming) var(--form-transforming),
    background-color var(--time-tranforming) var(--form-transforming);
}
.soсial-links a:hover,
.soсial-links a:focus {
  color: var(--third-color);
  background-color: var(--accent-text-color);
}
.icon-soсial-links {
  fill: currentColor;
}

/*our clients*/
.client {
  padding: calc((100% - 1200px) / 2);
  padding-top: 84px;
  padding-bottom: 94px;
}
.client .list {
  display: inline-flex;
}
.client-item a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;

  transition: color var(--time-tranforming) var(--form-transforming),
    border var(--time-tranforming) var(--form-transforming);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-item a:hover,
.client-item a:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.client-link {
  fill: currentColor;
}

/*footer*/
.footer {
  background-color: var(--footer-background-color);
}
.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer-block > h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-block > a.logo {
  display: inline-block;
  margin-top: 60px;
}
.footer .logo,
.address-item,
.footer .title {
  color: var(--third-color);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 20px;
  margin-bottom: 60px;
}
.address .contacts {
  color: var(--fourth-text-color);

  margin-top: 9px;
  padding: 0;
}
.footer .title {
  font-size: 14px;
  text-transform: uppercase;

  margin-top: 72px;
  margin-bottom: 20px;
}
.footer-block > .list {
  display: flex;
  justify-content: space-evenly;
}
.link-items > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: var(--footer-background-item-color);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--time-tranforming) var(--form-transforming);
}
.link-items > a:focus,
.link-items > a:hover {
  background-color: var(--accent-text-color);
}
.link-items:not(:last-child) {
  margin-right: 10px;
}
.footer-block:nth-child(3n) {
  width: calc(50% - 15px);
}
#email {
  color: var(--fourth-text-color);
  background-color: var(--footer-background-color);

  line-height: 1.25;
  width: 355px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 10px;

  border: 1px solid var(--border-input-color);
  border-radius: 4px;
}
.footer-block button {
  display: inline-flex;
  box-sizing: border-box;
  padding: 10px 28px;
}
/* .footer-block button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon_send.svg);
  background-size: contain;
} */
.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*portfolio*/
.portfolio-page {
  padding: 94px calc((100% - 1200px) / 2);
}
.portfolio-menu {
  margin-bottom: 34px;
}
.button.menu {
  display: block;

  color: var(--primary-text-color);
  background-color: var(--second-background-color);

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  box-shadow: none;

  transition: color var(--time-tranforming) var(--form-transforming),
    background-color var(--time-tranforming) var(--form-transforming),
    box-shadow var(--time-tranforming) var(--form-transforming);
}
.button.menu:hover,
.button.menu:focus {
  color: var(--third-color);
  background-color: var(--accent-text-color);
  box-shadow: var(--nav-item-shadow-hover);
}
.portfolio-page h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-menu > .list {
  display: flex;
  justify-content: center;
}
.list-menu + .list-menu {
  margin-left: 8px;
}
.list.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card {
  width: calc((100% - (2 * 30px)) / 3);

  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow var(--time-tranforming) var(--form-transforming);
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
/* or */
/* .portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
} */
.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: var(--card-shadow-hover);
}
.portfolio-card img {
  display: block;
}
.card-title {
  border: 1px solid var(--border-portfolio-card);
  border-top: none;
  padding: 20px 24px;
}
.portfolio-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.portfolio-card .text {
  line-height: 1.9;
}
.card-img {
  position: relative;
  overflow: hidden;
}
.portfolio-card > a:hover .hover-text {
  transform: translateY(0);
}
.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;

  color: var(--third-color);
  background-color: var(--hover-card-color);

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform var(--time-tranforming) var(--form-transforming);
}
